In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('gemstone.csv.csv')

In [4]:
data.drop('id',axis=1, inplace=True)

In [5]:
data.sample()

        carat    cut color clarity  depth  table     x     y     z  price
117866   0.54  Ideal     D     SI1   61.8   56.0  5.23  5.21  3.22   1848

In [45]:
X = data.drop('price' ,axis = 1)
y = data[['price']]

In [46]:
X

        carat        cut color clarity  depth  table     x     y     z
0        1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55
1        2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05
2        0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50
3        0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71
4        1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77
...       ...        ...   ...     ...    ...    ...   ...   ...   ...
193568   0.31      Ideal     D    VVS2   61.1   56.0  4.35  4.39  2.67
193569   0.70    Premium     G    VVS2   60.3   58.0  5.75  5.77  3.47
193570   0.73  Very Good     F     SI1   63.1   57.0  5.72  5.75  3.62
193571   0.34  Very Good     D     SI1   62.9   55.0  4.45  4.49  2.81
193572   0.71       Good     E     SI2   60.8   64.0  5.73  5.71  3.48

[193573 rows x 9 columns]

In [47]:
y

        price
0       13619
1       13387
2        2772
3         666
4       14453
...       ...
193568   1130
193569   2874
193570   3036
193571    681
193572   2258

[193573 rows x 1 columns]

In [50]:
cat_cols = X.select_dtypes(include=object).columns
num_cols = X.select_dtypes(exclude=object).columns

In [51]:
cat_cols

Index(['cut', 'color', 'clarity'], dtype='object')

In [52]:
num_cols

Index(['carat', 'depth', 'table', 'x', 'y', 'z'], dtype='object')

In [53]:
cut_categories = ['Fair','Good','Very Good','Premium','Ideal']
color_categories = ['D','E','F','G','H','I','J']
clarity_categories = ['I1','SI2','SI1','VS2',"VS1",'VVS2','VVS1','IF']

In [67]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OrdinalEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [68]:
num_pipeline = Pipeline(
    steps= [
        ("imputer",SimpleImputer()),
        ("scaler",StandardScaler()),


    ]    
)

In [69]:
cat_pipeline = Pipeline(
    steps= [
        ("Cat_imputer", SimpleImputer(strategy= "most_frequent")),
        ("ordinal encoder",OrdinalEncoder(categories=[cut_categories,color_categories,clarity_categories]))

    ]    
)

In [70]:
preprocesser = ColumnTransformer(

    [
        ('numerical_pipeline',num_pipeline,num_cols),
        ('categorical_pipeline',cat_pipeline, cat_cols)
    ]
)

In [71]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.30, random_state= 30)

In [73]:
preprocesser.fit_transform(X_train)

array([[-0.97543926, -0.84960654, -0.12153081, ...,  4.        ,
         5.        ,  5.        ],
       [ 0.2351953 ,  1.83363716, -0.12153081, ...,  1.        ,
         1.        ,  2.        ],
       [ 0.49461699,  0.81585507,  0.39980029, ...,  3.        ,
         3.        ,  4.        ],
       ...,
       [ 0.45138004,  1.55606023, -0.6428619 , ...,  1.        ,
         3.        ,  2.        ],
       [ 0.66756478, -1.77486298,  1.44246248, ...,  4.        ,
         3.        ,  4.        ],
       [ 0.25681377,  0.81585507, -0.12153081, ...,  4.        ,
         3.        ,  2.        ]])

In [74]:
preprocesser.transform(X_test)

array([[-0.56468825, -0.94213218, -0.6428619 , ...,  3.        ,
         1.        ,  3.        ],
       [-0.17555571,  1.00090636, -0.12153081, ...,  2.        ,
         4.        ,  2.        ],
       [-1.06191316,  0.2607012 , -0.12153081, ...,  4.        ,
         4.        ,  7.        ],
       ...,
       [-0.19717419, -3.34779894,  1.44246248, ...,  3.        ,
         6.        ,  3.        ],
       [-0.82410994, -0.20192702, -0.12153081, ...,  4.        ,
         3.        ,  2.        ],
       [ 2.61322747, -0.75708089,  1.44246248, ...,  3.        ,
         6.        ,  3.        ]])

In [76]:
preprocesser.get_feature_names_out()

array(['numerical_pipeline__carat', 'numerical_pipeline__depth',
       'numerical_pipeline__table', 'numerical_pipeline__x',
       'numerical_pipeline__y', 'numerical_pipeline__z',
       'categorical_pipeline__cut', 'categorical_pipeline__color',
       'categorical_pipeline__clarity'], dtype=object)

In [77]:
X_train = pd.DataFrame(preprocesser.fit_transform(X_train),columns=preprocesser.get_feature_names_out())
X_test = pd.DataFrame(preprocesser.transform(X_test),columns=preprocesser.get_feature_names_out())

In [79]:
X_train

,numerical_pipeline__carat,numerical_pipeline__depth,numerical_pipeline__table,numerical_pipeline__x,numerical_pipeline__y,numerical_pipeline__z,categorical_pipeline__cut,categorical_pipeline__color,categorical_pipeline__clarity
0,-0.975439,-0.849607,-0.121531,-1.042757,-1.080970,-1.123150,4.0,5.0,5.0
1,0.235195,1.833637,-0.121531,0.318447,0.279859,0.485354,1.0,1.0,2.0
2,0.494617,0.815855,0.399800,0.570855,0.606458,0.673737,3.0,3.0,4.0
3,-1.018676,0.260701,0.921131,-1.214034,-1.244270,-1.195605,3.0,3.0,3.0
4,-0.953821,-0.664555,-0.642862,-1.069801,-1.044681,-1.094168,4.0,6.0,5.0
...,...,...,...,...,...,...,...,...,...
135496,-1.040295,-0.016876,-0.642862,-1.268122,-1.244270,-1.239078,4.0,1.0,2.0
135497,0.991842,0.168176,-0.642862,1.048629,1.114501,1.079486,4.0,3.0,1.0
135498,0.451380,1.556060,-0.642862,0.516768,0.588314,0.702719,1.0,3.0,2.0
135499,0.667565,-1.774863,1.442462,0.868337,0.951202,0.688228,4.0,3.0,4.0
135500,0.256814,0.815855,-0.121531,0.381549,0.415942,0.470863,4.0,3.0,2.0

In [83]:
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [85]:
import numpy as np
def evalute_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae,rmse,r2_square

In [86]:
models = {
    'LinearRegression':LinearRegression(),
    'Ridge':Ridge(),
    'Lasso': Lasso(),
    'ElasticeNet':ElasticNet()
}
trained_model_list = []
models_list = []
r2_list = []

In [95]:
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)

    y_pred = model.predict(X_test)
    mae,rmse, r2_square = evalute_model(y_test,y_pred)   
    print(list(models.keys())[i])
    models_list.append(list(models.keys())[i])
    print("Model Training Performance")
    print('MAE',mae)
    print('rmse',rmse)
    print('r2_score',r2_square*100)
    r2_list.append(r2_square)
    print('*'*35)

LinearRegression
Model Training Performance
MAE 674.0255115796833
rmse 1013.9047094344004
r2_score 93.68908248567512
***********************************
Ridge
Model Training Performance
MAE 674.0565132295983
rmse 1013.9058997761055
r2_score 93.6890676674133
***********************************
Lasso
Model Training Performance
MAE 675.2036880701621
rmse 1013.8723151049944
r2_score 93.68948574778251
***********************************
ElasticeNet
Model Training Performance
MAE 1050.7468664314322
rmse 1513.914035022976
r2_score 85.92978759337907
***********************************

In [96]:
trained_model_list

[]

In [97]:
models_list

['LinearRegression',
 'Ridge',
 'Lasso',
 'ElasticeNet',
 'LinearRegression',
 'Ridge',
 'Lasso',
 'ElasticeNet']

In [98]:
r2_list

[0.9368908248567511, 0.936890676674133, 0.9368948574778251, 0.8592978759337908]